.node {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-top: 0px !important;
  margin-bottom: 0px;
}

.node-start {
  background-color: white !important;
  border-radius: 50% !important;
  outline: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.node-finish {
  background-color: white !important;
  border-radius: 50% !important;
  outline: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 80%;
    background-color: rgba(235, 162, 52, 0.959);
    box-shadow: 0 0 15px rgba(235, 162, 52, 0.959);
  }

  50% {
    border-radius: 50%;
    background-color: rgba(235, 192, 52, 0.959);
    box-shadow: 0 0 15px rgba(235, 192, 52, 0.959);
  }

  75% {
    transform: scale(1.2);
    border-radius: 25%;
    background-color: rgba(255, 202, 28, 0.959);
    box-shadow: 0 0 15px rgba(255, 202, 28, 0.959);
  }

  85% {
    transform: scale(1);
    border-radius: 17%;
    background-color: rgba(255, 202, 28, 0.4);
    box-shadow: 0 0 15px rgba(255, 202, 28, 0.4);
  }
}

.node-wall {
  background-color: rgba(250, 33, 33, 0.9);
  box-shadow: 0 0 20px rgba(250, 33, 33, 0.9);
  border-radius: 15%;
  outline: 1px solid rgba(250, 33, 33, 0.9);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  border-radius: 100%;
  outline: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}

@keyframes shortestPath {
  0% {
    transform: scale(0.7);
    background-color: rgba(255, 255, 255, 0.4);
  }

  25% {
    transform: scale(1.0);
    background-color: rgba(255, 255, 255, 0.4);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.7);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.9);
  }
}