.node {
  width: 22px;
  height: 22px;
  /* outline: 1px solid rgb(175, 216, 248); */
  display: inline-block;
  margin-bottom: -3.7px;
  /* margin-bottom: -15px; */
}

.node-finish {
  background-color: white;
}

.node-start {
  background-color: white;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(255, 255, 255, 0.85);
  }

  99% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.95);
  }

  100% {
    background-color: transparent;
  }

}

.node-wall {
  background-color: rgba(11, 38, 114, 0.9);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgba(255, 255, 255, 0.521);
  }

  50% {
    transform: scale(1.2);
    background-color: rgba(51, 122, 155, 0.753);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.904);
  }
}